<!DOCTYPE html>
<html>
<head>
    <title>I see a Doe, a Deer, a Female Deer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/app.css'>
</head>
<body>
    <div class="container" id="header-container">

        <h1>I see a Doe, a Deer, a Female Deer</h1>
        <hr>
        <br>
    </div>
    <div class="container" id="template-container">
        #parse($template )
    </div>
</body>
<footer>

  <hr>
    <div class="container" id="footer-container">
      <hr>
        <p>Designed by: Ben Vissotzky | Contact information:
          <a href="mailto:ben.vissotzky@gmail.com">ben.vissotzky@gmail.com</a>
        </p>
    </div>
</footer>
</html>
